<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>952384896680-psv0au7q6qom1cd00e3hgbdgvpl6vsln.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.952384896680-psv0au7q6qom1cd00e3hgbdgvpl6vsln</string>
	<key>API_KEY</key>
	<string>AIzaSyC1abuwlqrQaEjnlDE7FXMWeGUpatWTj1o</string>
	<key>GCM_SENDER_ID</key>
	<string>952384896680</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.marlenabaginska.cantwait28</string>
	<key>PROJECT_ID</key>
	<string>cantwait3008</string>
	<key>STORAGE_BUCKET</key>
	<string>cantwait3008.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:952384896680:ios:45373dd596593381998c9d</string>
</dict>
</plist>